{% extends "standard.html" %}

{% block headerscript %}
    <link rel="stylesheet" href="/static/css/table.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/task_list.css" type="text/css" media="screen" />
	<script type='application/javascript' src='/static/js/jquery.cookie.js'></script>
    <script type="text/javascript" src="/static/js/task_list.js"></script>

    <style type="text/css">
        #dialog_box {
            display: none;
        }
    </style>


<script type="text/javascript">

var tasks = null;


$(function(){
});

function saveState() {
    var order_by = document.filter.order_by.value;
    var user = document.filter.batch__user__pk.value;
    var stat = $.map(document.filter.status, function(cb) {
        if (cb.checked) {
            return cb.value;
        }
    }).join(",");
    var autorf = document.controls.autorefresh.checked;
    var autorf_time = document.controls.autorefresh_time.value;

    var winprefix = window.location.pathname.replace(/\//g, "");
    $.cookie(winprefix + "_order_by", order_by);
    $.cookie(winprefix + "_user", user);
    $.cookie(winprefix + "_stat", stat);
    $.cookie(winprefix + "_autorf", autorf);
    $.cookie(winprefix + "_autorf_time", autorf_time);
}

function loadState() {
    var winprefix = window.location.pathname.replace(/\//g, "");
    var order_by = $.cookie(winprefix + "_order_by");
    var user = $.cookie(winprefix + "_user");
    var stat = $.cookie(winprefix + "_stat");
    var autorf = $.cookie(winprefix + "_autorf");
    var autorf_time = $.cookie(winprefix + "_autorf_time");

    if (order_by) {
        document.filter.order_by.value = order_by;
    }
    if (user) {
        document.filter.batch__user__pk.value = user;
    }
    if (stat) {
        $.each(stat.split(","), function(i, s) {
            $("input[value='" + s + "']").attr("checked", true);
        });
    }
    if (autorf) {
        document.controls.autorefresh.checked = (autorf === 'true');
    }
    if (autorf_time) {
        document.controls.autorefresh_time.value = autorf_time;
    }
}


// save state on leaving the page... at least try to...
window.onbeforeunload = function(event) {
    saveState();
}


$(function() {
    
    loadState();
    tasks = new TaskList("task_list", "task_filter_form");
    tasks.init();
});


</script>


{% endblock %}

{% block content %}


<div id="sidebar" class="widget">
    <div class="widget_header" id="filter_head">Filter Tasks:</div>
    <div class="widget_content">
        <form name="filter" id="task_filter_form" method="GET" action="/ocrtasks/list">
            <input type="hidden" class="filter_item" name="page" value="{{params.page}}" />
            <input type="hidden" class="filter_item" name="order_by" value="{{params.order_by}}" />

            <div class="field_wrapper">
                <label for="view_status_all">All:</label>            
                <input type="checkbox" name="status" class="filter_item" id="view_status_all" value="ALL"
                    checked="checked" />
                <br />
                {% for status, name in statuses %}
                    <label for="view_status_{{status}}">{{name}}:</label>
                    <input type="checkbox" name="status" class="filter_item" id="view_status_{{status}}" 
                    {% if status in selected %} checked="Checked" {% endif %} value="{{status}}" />
                    <br />
                {% endfor %}
            </div>
            <div class="field_wrapper">
                <label for="filter_user">User:</label>
                <select class="filter_item" id="filter_user" name="batch__user__pk">
                    <option value="" {% ifequal params.user_id "" %}selected="selected"{% endifequal %}>All</option>
                    <option value="{{request.user.pk}}" {% ifequal params.user_id request.user.pk %}selected="selected"
                    {% endifequal %}>{{user.username}}</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div id="document_window">

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <div class="widget">
        <div class="widget_header">Tasks:</div>
        <div class="widget_content">
            <div id="task_list_controls">
                <div id="task_list_controls_right">            
                    <form name="controls" id="task_list_controls_form" action="/ocrtasks/list/" method="GET">
                        <input type="button" name="clear" id="clear_tasks" value="Clear" disabled="disabled" />
                        Auto-Refresh:
                        <input type="checkbox" id="autorefresh" name="autorefresh" checked="checked" />
                        <input type="text" id="autorefresh_time" name="autorefresh_time" value="2" />
                    </form>
                </div>
            </div>
            <div id="task_list">
            </div>
        </div> 
        <div id="dialog_box"></div>
    </div>
</div>


{% endblock %}

