{# List of OCR lang & char models #}

{% if models %}
    <table id="charmodel_list" class="model_list info_table" cellspacing="0" cellpadding="0">
        <tr class="header_row">
        {% for field in fields %}
            <th><a class="sort_table" href="/ocrmodels/list?order={{field}}">{{field|title|cut:"-"|cut:"_"}}</a></th>
        {% endfor %}
        <th colspan="3"></th>
        </tr>
        {% for cm in models %}
        <tr class="model_item" id="mod_{{cm.pk}}">
            <td>{{cm.name}}</td>
            <td>{{cm.app}}</td>        
            <td>{{cm.type|upper}}</td>        
            <td><a title="Model Details"  class="show_model_link" href="/ocrmodels/show/{{cm.pk}}/">Show</a></td>
            {% if cm.user == user %}
                <td><a title="Edit Model" class="edit_model_link" href="/ocrmodels/edit/{{cm.pk}}/">Edit</a></td>
                <td><a title="Delete Model"  class="delete_model_link" href="/ocrmodels/delete/{{cm.pk}}/">Delete</a></td>
            {% endif %} 
        </tr>
        {% endfor %}
    </table>
{% else %}
    No models found.
{% endif %}






            
