
<h3>{{model.name}}</h3>

<table class="info_table properties_table">
    <thead>
        <tr class="listhead">
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tr>
        <td class="attr">Type:</td>
        <td>{{model.type}}</td>
    </tr>
    <tr class="odd">
        <td class="attr">Application:</td>
        <td>{{model.app}}</td>
    </tr>
    <tr>
        <td class="attr">Created On:</td>
        <td>{{model.created_on|date:"SHORT_DATE_FORMAT"}}</td>
    </tr>
    <tr class="odd">
        <td class="attr">Last Modified:</td>
        <td>{{model.updated_on|date:"SHORT_DATE_FORMAT"}}</td>
    </tr>
    <tr>
        <td class="attr">Upload By:</td>
        <td>{{model.user.get_full_name}}</td>
    </tr>
    <tr class="odd">
        <td class="attr">Public:</td>
        <td>{{model.public}}</td>
    </tr>
    <tr>
        <td class="attr">Derived From:</td>
        <td>{{model.derived_from.name}}</td>
    </tr>
</table>

<h3>Description:</h3>
{{model.description}}

<h3>Tags:</h3>
{{model.tags}}

{% if info %}
    <h3>Info:</h3>
    <pre class="model_info_output">
{{info}}
    </pre>
{% endif %}

