
{% include "includes/form_errors.html" %}

<form action="/projects/create" method="POST">
    <div class="form_body">
        <fieldset>
            <legend>Information</legend>
            <div class="field_wrapper">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="field_wrapper">
                {{ form.tags.label_tag}}
                {{ form.tags }}
            </div>
            <div class="field_wrapper">
                {{ form.description.label_tag}}
                {{ form.description }}
            </div>
        </fieldset>
        <fieldset>
            <legend>Project Default Settings</legend>
            {% for field in defform %}
                <div class="field_wrapper">
                    {{ field.label_tag}}
                    {{ field }}
                </div>
            {% endfor %}
        </fieldset>
    </div>
    <div class="form_footer">
        <div class="form_submit_buttons">
            <input disabled="disabled" type="submit" value="Submit" id="submit_new_project_form" />
        </div>
    </div>
</form>

