{# List of OCR Projects #}

{% if projects %}
    <table id="project_list" class="project_list info_table" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="listhead">
            {% for field in fields %}
                <th >
                    <a class="sort_table" href="/projects/list?order={{field}}">
                        {{field|title|cut:"-"|cut:"_"|cut:"Pk"}}
                        {% if order in field or field in order %}
                            {% if "-" in field %}
                                <div class="sort_arrow order"></div>
                            {% endif %}
                            {% if "-" in order %}
                                <div class="sort_arrow order_desc"></div>
                                {% endif %}
                        {% else %}
                            <div class="sort_arrow"></div>
                        {% endif %}
                    </a>
                </th>
            {% endfor %}
            <th colspan="4"></th>
            </tr>
        </thead>
        {% for p in projects %}
        <tr class="project_item {% cycle 'even' 'odd' %}" id="mod_{{p.pk}}">
            <td>{{p.name}}</td>
            <td>{{p.created_on}}</td>        
            <td>{{p.user.username}}</td>        
            <td><a title="Load Project"  class="load_project_link" href="/projects/load/{{p.pk}}/">Load</a></td>
            <td><a title="Project Details"  class="show_project_link" href="/projects/show/{{p.pk}}/">Show</a></td>
            {% if p.user == user %}
                <td><a title="Edit Project" class="edit_project_link" href="/projects/edit/{{p.pk}}/">Edit</a></td>
                <td><a title="Delete Project"  class="delete_project_link" href="/projects/confirm_delete_project/{{p.pk}}/">Delete</a></td>
            {% endif %} 
        </tr>
        {% endfor %}
    </table>
{% else %}
    No projects found.
{% endif %}






            
