{% extends "standard.html" %}

{% block headerscript %}
	<script type='application/javascript' src='/static/js/projects/new.js'></script>


{% endblock %}

{% block content %}
    {% include "projects/includes/sidebar.html" %}

    <div id="document_window">
        <div class="widget">
            <div class="widget_header">New Project</div>
            <div class="widget_content">
                {% include "projects/includes/project_form.html" %}
            </div>
        </div>
    </div>
{% endblock %}
