
<form id="edit_object_form" enctype="{{enctype}}" action="{{object.absolute_update_url}}" method="POST">
    <div class="form_body">
        <fieldset>
            <legend>{{page_name}}</legend>
            {% for field in form %}
                <div class="field_wrapper">
                    {{ field }}
                </div>
            {% endfor %}
        </fieldset>
    </div>        

    <div class="form_footer">
        <div class="form_submit_buttons">
            <input type="submit" value="Submit" id="submit_edit_model_form" />
        </div>
    </div>        
</form>

