
<form id="edit_object_form" action="{{object.get_update_url}}" enctype="{{enctype}}" method="POST">
    <div class="form_body">
        <fieldset>
            <legend>{{page_name}}</legend>
            {% for field in form.visible_fields %}
                <div class="field_wrapper">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors}}
                </div>
            {% endfor %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
        </fieldset>
    </div>        

    <div class="object_detail_footer form_footer">
        <input type="submit" value="Submit" id="submit_edit_form" />
        <a href="{{object.get_absolute_url}}">Cancel</a>
    </div>        
</form>

