
<form id="create_object_form" enctype="{{enctype}}" method="POST">
    <div class="form_body">
        <fieldset>
            <legend>{{page_name}}</legend>
            {% for field in form %}
                <div class="field_wrapper">
                    {% if not field.is_hidden %}
                        {{ field.label_tag }}
                    {% endif %}
                    {{ field }}
                    {% if not field.is_hidden %}
                        {{ field.errors}}
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
    </div>        

    <div class="object_detail_footer form_footer">
        <input type="submit" value="Submit" id="submit_create_form" />
    </div>        
</form>

