{% load getattribute %}
{% load formatattr %}

<table class="object_detail object_list">
        <thead>
            <tr class="object_detail_header object_list_header">
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>            
        <tbody>
            {% for field in fields %}
            <tr class="{% cycle '' 'odd' %}">
                <td>{{field|formatattr}}</td>
                <td>{{object|getattribute:field}}</td>
            </tr>        
            {% endfor %}
        </tbody>
    </table>
</table>
