<form id="optionsform">
    <div id="script_toolbar">
        <span class="buttons_left">
            <button id="abort">Abort</button>                                                    
            <button id="rerun_script">Rerun</button>
        </span>
        <select id="select_script" name="script">
            <option value="0">---</option>
            {% for preset in presets %}
                <option value="{{preset.slug}}">{{preset.name}}</option>
            {% endfor %}
        </select>
        <span class="buttons_right">
            <button id="open_script">Load Preset</button>
            <button id="save_script">Store Preset</button>
            <button id="download_script">Download Preset</button>
        </span>
        <div id="dialog"></div>
    </div>
    <div id="node_canvas">
    </div>
    <div id="parameters" class="node_parameters">
        <h4>No node selected</h4>
    </div>
</form>
<!-- form for downloading scripts... this is a bit of a hack. -->
<form id="fetch_script" method="POST" action="/ocrpresets/fetch/" >
    <input name="script" type="hidden" id="fetch_script_data" />
</form>

