<script id="updateDialog" type="application/x-jquery-tmpl">
    <div>Do you want to update '${scriptname}' or save under a different name?</div>
    <div class="buttons">
        <button id="update_script">Update ${scriptname}</button>
        <button id="create_new">Save as...</button>
    </div>
</script>

<script id="createDialog" type="application/x-jquery-tmpl">
    <form method="POST" action="/presets/create/" id="new_script_form">
        <fieldset>
            <legend>New OCR Preset</legend>
            <div class="field_wrapper">
                <label for="id_name">Name</label>
                <input id="id_name" type="text" name="name" maxlength="100">
            </div>
            <div class="field_wrapper">
                <label for="id_tags">Tags</label>
                <input id="id_tags" type="text" name="tags" maxlength="255">
            </div>
            <div class="field_wrapper">
                <label for="id_description">Description</label>
                <textarea id="id_description" rows="2" cols="40" name="description"></textarea>
            </div>
            <input type="hidden" id="id_data" value="${script}" name="data" />
            <input type="hidden" id="id_user" value="{{request.user.id}}" name="user" />
            <input type="hidden" id="id_json" value="1" name="json" />
        </fieldset>
        <div class="buttons">
            <input type="submit" disabled="disabled" id="create_new" value="Save" />
        </div>
    </form>
</script>



