{% extends "standard.html" %}

{% block title %} OCRopodium - Convert {% endblock %}

{% block headerscript %}
	<script type='application/javascript' src='/static/js/jquery/jquery.hoverIntent.min.js'></script>
	<script type='application/javascript' src='/static/js/utils/stats.js'></script>
	<script type='application/javascript' src='/static/js/jquery/jquery.svg.js'></script>
	<script type='application/javascript' src='/static/js/jquery/jquery.svgdom.min.js'></script>
	<script type='application/javascript' src='/static/js/jquery/jquery.layout-latest.js'></script>
	<script type='application/javascript' src='/static/js/nodetree/svg_helper.js'></script>
	<script type='application/javascript' src='/static/js/nodetree/cable.js'></script>
	<script type='application/javascript' src='/static/js/nodetree/plug.js'></script>
	<script type='application/javascript' src='/static/js/nodetree/node.js'></script>
	<script type='application/javascript' src='/static/js/nodetree/node_list.js'></script>
	<script type='application/javascript' src='/static/js/nodetree/node_tree.js'></script>
	<script type='application/javascript' src='/static/js/preset_manager.js'></script>
	<script type='application/javascript' src='/static/js/result_handler.js'></script>
	<script type='application/javascript' src='/static/js/ocr/convert.js'></script>
	<script type='application/javascript' src='/static/js/line_formatter.js'></script>
	<script type='application/javascript' src='/static/js/uploaders/ajax.js'></script>
    <script type="application/javascript" src="/static/js/seadragon/seadragon-min.js"></script>
	<script type='application/javascript' src='/static/js/image_viewer.js'></script>
    <script type='application/javascript' src='/static/js/text_viewer.js'></script>

    <link rel="stylesheet" href="/static/css/upload_results.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/parameters.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/preset_manager.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/viewer.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/image_viewer.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/text_viewer.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="/static/css/layout-default.css" type="text/css" media="screen" />

{% endblock %}



{% block content %}

    {% include "includes/node.html" %}

    <div id="vsplitter" class="ui-layout-center">
        <div class="ui-layout-north">
            {% include "includes/appmenu.html" %}
            <div class="clear"></div>
        </div>
        <div  id="viewertabs" class="ui-layout-center">
            <ul>
                <li><a href="#imageviewer-1">Image Viewer</a></li>
                <li><a href="#textviewer-1">Text Viewer</a></li>
            </ul>
            <div class="ui-layout-content">            
                <div id="imageviewer-1" class="imageviewer"></div>
                <div id="textviewer-1" class="textviewer"></div>
            </div>
        </div>
        <div id="sidebar" class="ui-layout-east">
            <form id="optionsform">
                <div id="script_toolbar" class="ui-layout-north">
                    <span class="buttons_left">
                        <button id="abort">Abort</button>                                                    
                        <button id="rerun_script">Rerun</button>
                    </span>
                    <select id="select_script" name="script">
                        <option value="0">---</option>
                        {% for preset in presets %}
                            <option value="{{preset.slug}}">{{preset.name}}</option>
                        {% endfor %}
                    </select>
                    <span class="buttons_right">
                        <button id="open_script">Load Preset</button>
                        <button id="save_script">Store Preset</button>
                        <button id="download_script">Download Preset</button>
                    </span>
                    <div id="dialog"></div>
                </div>
                <div id="node_canvas" class="ui-layout-center">

                </div>
                <div class="ui-layout-south">
                    <div id="parameters" class="node_parameters">
                        <h1>No Node Selected</h1>
                    </div>
                </div>
            </form>
            <!-- form for downloading scripts... this is a bit of a hack. -->
            <form id="fetch_script" method="POST" action="/ocrpresets/fetch/" >
                <input name="script" type="hidden" id="fetch_script_data" />
            </form>
        </div>
    </div>

{% endblock %}

