{% extends "standard.html" %}

{% block title %} OCRopodium - Convert {% endblock %}

{% block headerscript %}
    <style type="text/css">@import "/static/css/jquery.svg.css";</style> 
	<script type='application/javascript' src='/static/js/jquery/jquery.svg.min.js'></script>
	<script type='application/javascript' src='/static/js/jquery/jquery.svgdom.min.js'></script>
	<script type='application/javascript' src='/static/js/ocr/testparams.js'></script>
	<script type='application/javascript' src='/static/js/nodetree/base.js'></script>
	<script type='application/javascript' src='/static/js/nodetree/cable.js'></script>
	<script type='application/javascript' src='/static/js/nodetree/plug.js'></script>
	<script type='application/javascript' src='/static/js/nodetree/node.js'></script>
	<script type='application/javascript' src='/static/js/parameter_tree_builder.js'></script>
    <link rel="stylesheet" href="/static/css/parameters.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
{% include "includes/node.html" %}
<div id="sidebar" class="widget">
    <div class="widget_header">Options</div>
    <div class="widget_content">
        <form id="optionsform" name="options" action="/ocr/convert2/" method="POST">
            <div id="options">
            
            </div>
        </form>
    </div>
</div>

{% endblock %}

