<li class="document-item ui-helper-clearfix" id="{{object.pid}}">
    <table>
        <thead>
            <tr class="ui-widget-header document-selector">
                <th colspan="2">{{object.label}}</th>
            </tr>
        </thead>
        <tr>
            <td class="document-thumb">
                <a class="document-thumb-link" href="{{object.image_uri}}">
                    <img class="document-thumb-img" src="{{object.thumbnail_uri}}" width="100%" height="100%" />
                </a>
            </td>
            <td class="document-details">
                <a class="button_link {{object.ocr_status}}" href="{{object.transcript_url}}" title="Edit transcript">Edit</a> 
            </td>
        </tr>
        <tr class="document-status-row">
            <td class="document-status {{object.ocr_status}}"></td>
        </tr>
    </table>
</li>

