{% extends "standard.html" %}

{% block title %} OCRopodium - New Batch {% endblock %}

{% block headerscript %}
	<script type='application/javascript' src='/static/js/jquery.cookie.js'></script>
	<script type='application/javascript' src='/static/js/jquery.form.js'></script>
	<script type='application/javascript' src='/static/js/stats.js'></script>
	<script type='application/javascript' src='/static/js/ocr_batch.js'></script>
	<script type='application/javascript' src='/static/js/ajax-dragdrop-batch-upload.js'></script>
    <link rel="stylesheet" href="/static/css/upload_results.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/ocr_batch.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/ocr_page.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<div id="sidebar" class="widget">
    <div class="widget_header">Options</div>
    <div class="widget_content">
        <form id="uploadform" name="convertoptions" action="/batch/batch/" method="POST" enctype="multipart/form-data">
            <p>    
                <input type="file" name="upload[]" multiple="multiple" id="singleupload" />
            </p>
            <div id="dragdrop">
                <h4>...or Drag-Drop Images Here:</h4>
                <div id="dropzone">
                    Drop images here...
                </div>
            </div>
            <h4>Options:</h4>
             <p>
             OCR Engine:&nbsp;
                <input type="radio" name="engine" value="ocropus">Ocropus&nbsp;
                <input type="radio" name="engine" value="tesseract" checked>Tesseract
            </p>
            <p>        
                Segmenter:&nbsp;
                <select id="form_segmenter" name="psegmenter">
                    <optgroup label="Basic">
                        <option value="SegmentPageByRAST" selected="selected">RAST</option>
                        <option value="SegmentPageByRAST1">RAST1</option>
                        <option value="SegmentPageBy1CP">1CP</option>
                        <option value="SegmentPageByMorphTrivial">MorphTrivial</option>
                        <option value="SegmentPageByXYCUTS">XYCUTS</option>
                    </optgroup>
                    {% if segpresets %}
                        <optgroup label="Presets">
                        {% for p in segpresets %}
                            <option value="preset_{{p.pk}}">{{p.name}}</option>                        
                        {% endfor %}            
                        </optgroup>
                    {% endif %}            
                </select>
            </p>
            <p>
                Pre-processing:&nbsp;
                <select id="form_clean" name="clean">
                    <option value="StandardPreprocessing" selected="selected">Standard</option>
                    {% if binpresets %}
                        <optgroup label="Presets">
                        {% for p in binpresets %}
                            <option value="preset_{{p.pk}}">{{p.name}}</option>                        
                        {% endfor %}            
                        </optgroup>
                    {% endif %}            
                </select>
            </p>
            <p>
                Character Model:&nbsp;
                <select id="form_cmodel" name="cmodel">
                </select>
            </p>
            <p>
                Language Model:&nbsp;
                <select id="form_lmodel" name="lmodel">
                </select>
            </p>
        </form>
    </div>
</div>

<div id="document_window">
    <div class="widget" id="new_batch">
        <div class="widget_header">New Batch</div>
        <div class="widget_content">

            <form name="batch_form" action="{{request.path}}" id="batch_form">

                <p>
                    <label for="batch_name">Batch Identifier:</label>
                    <input type="text" name="batch_name" id="batch_name" />
                </p>
                <p>
                    <label for="batch_files">Files:</label>
                    <br />
                    <textarea name="batch_files" id="batch_files"></textarea>
                </p>
                <input type="SUBMIT" value="Submit Batch" id="submit_batch" />
            </form>
        </div>
    </div>
</div>
<div style="clear: right;"></div>
 
{% endblock %}

