{% extends "standard.html" %}

{% block title %} OCRopodium - {{batch.name}} {% endblock %}

{% block headerscript %}
	<script type='application/javascript' src='/static/js/jquery.cookie.js'></script>
	<script type='application/javascript' src='/static/js/jquery.form.js'></script>
	<script type='application/javascript' src='/static/js/stats.js'></script>
	<script type='application/javascript' src='/static/js/ocr_batch.js'></script>
	<script type='application/javascript' src='/static/js/ajax-dragdrop-batch-upload.js'></script>
    <link rel="stylesheet" href="/static/css/upload_results.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/ocr_batch.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/ocr_page.css" type="text/css" media="screen" />

    <script type="text/javascript">

$(function() {
    $.ajax({
        url: "/batch/results/" + $("#batch_id").val() + "/",
        success: function(data) {
            var batch = new OcrBatch("document_window", data[0]);
            batch.updateResults();
            if (!batch.isComplete()) 
                batch.pollForResults(300);
        },
    });
});        

    </script>
{% endblock %}

{% block content %}
<form id="batch_form" action="{{request.path}}" >
    <input type="hidden" name="batch_id" value="{{batch.pk}}" id="batch_id" />
</form>
<div id="document_window">
    
</div>

{% endblock %}
