{% extends "generic.html" %}

{% block headerscript %}
    <link rel="stylesheet" href="/static/css/generic.css" type="text/css" media="screen" />
    
	<script type='application/javascript' src='/static/js/documents/list.js'></script>
{% endblock %}

{% block bodycontent %}
    <ul class="document-list">
    {% for object in objects %}
        {% include "documents/includes/document.html" %}
    {% endfor %}
    </ul>
{% endblock %}        

{% block sidebarcontent %}
    <h1>Hello!</h1>
{% endblock %}
