{% extends "generic.html" %}

{% block headerscript %}
	<script type='application/javascript' src='/static/js/documents/list.js'></script>
    <link rel="stylesheet" href="/static/css/generic.css" type="text/css" media="screen" />
{% endblock %}

{% block bodycontent %}

    <div class="document-list ui-layout-center">
        {% include "documents/includes/document_list.html" %}
    </div>

{% endblock %}        

{% block sidebarcontent %}
    {% include "batch/includes/new_form.html" %}
{% endblock %}
