{% extends "standard.html" %}

{% block headerscript %}
    <script type='application/javascript' src='/static/js/parameter_builder.js'></script>
    <script type='application/javascript' src='/static/js/training/compare.js'></script>
    <link rel="stylesheet" href="/static/css/parameters.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/training.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <div id="document_window">
        <div class="widget">
            <div class="widget_header">Run Comparison</div>
            <div class="widget_content">
                <form id="compare_form" action="/training/score_models/" method="POST"> 
                    {% include "includes/form_errors.html" %}
                    <div id="tabs">
                        <ul>
                            <li><a id="tabs_1_link" href="#tabs_1">Comparison Models</a></li>
                            <li><a id="tabs_2_link" href="#tabs_2">Groundtruth</a></li>
                        </ul>
                        <div id="tabs_1">
                            <div class="form_body">
                                <fieldset>
                                    <legend>OCR Comparison</legend>
                                    <div class="field_wrapper">
                                        {{form.name.label_tag}}
                                        {{form.name}}
                                    </div>
                                    <div class="field_wrapper">
                                        {{form.notes.label_tag}}                                        
                                        {{form.notes}}
                                    </div>
                                </fieldset>
                                {% for prefix in prefixes %}
                                    {% include "training/includes/comparison_paramset.html" %}
                                {% endfor %}
                            </div>
                            <div class="form_footer">
                                <input type="button" class="next_tab" id="tabs_2_next" value="Next - Select Groundtruth" />
                            </div>
                        </div>
                        <div id="tabs_2">
                            {% include "training/includes/groundtruth_selector.html" %}
                            <div class="form_footer">
                                <div class="form_submit_buttons">
                                    <input type="submit" value="Submit Model Comparison" 
                                        id="submit_new_comparison_form" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                    </div>            
                </form>            
            </div>
        </div>
    </div>
{% endblock %}


