{% extends "standard.html" %}

{% block title %} OCRopodium - Comparisons {% endblock %}

{% block headerscript %}
    <script type="text/javascript" src="/static/js/training/comparisons.js"></script>
    <link rel="stylesheet" href="/static/css/entity.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/table.css" type="text/css" media="screen" />

<style type="text/css">
    #formholder {
        display: none;
    }

    #dialog_box {
        display: none;
    }
</style>

{% endblock %}

{% block content %}
<div class="batch ui-corner-top ui-layout-north" id="batch" data-index="{{batch.pk}}">
    <div class="ui-widget-header ui-corner-top ui-layout-header">
        Run Comparison
    </div>    
    <div class="ui-widget-content" id="comparisonlist">
        {% include "training/includes/comparison_list.html" %}
    </div>
</div>

{% endblock %}
