{% extends "standard.html" %}

{% block headerscript %}
    <link rel="stylesheet" href="/static/css/table.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/training.css" type="text/css" media="screen" />
    <script type='application/javascript' src='/static/js/training/comparison.js'></script>
{% endblock %}

{% block content %}
<div class="batch ui-layout-north" id="batch" data-index="{{batch.pk}}">
    <div class=" ui-dialog-titlebar ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header">
        OCR Preset Comparison
    </div>    
    <div class="ui-widget-content">
        {% include "training/includes/comparison_details.html" %}
    </div>
</div>
{% endblock %}

