th {
    font-weight: normal;
    min-width: 3em;
}

td {
    min-width: 3em;
}

.fboverlay {
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    background-color: #000;
}

.fbcontainer {
   
    z-index: 1000;
    background-color: #FFF;
}

.filewindow {
    /*height: 500px;*/
    z-index: 1000;
}

.filedialog {
    padding: 0px;
    margin: 0px;
    background-color: #F0F0F0;
    z-index: 1000;
}

#tscroll {
    width: 100%;
    height: 470px;
    overflow: auto;
    border-bottom: 1px solid #D0D0D0;
    border-top: 1px solid #D0D0D0;
    float: left;
    background-color: #FFF;
}

.fbcontrols {
    margin: 10px 0px 10px 0px;
    width: 100%;
    float: left;
}

.fbcontrol {
    float: right;
}

.listhead {
    border-width: 1px 1px 0px 1px;
    border-color: #D0D0D0;
    border-style: solid;
    padding: 0px 1px 0px 1px;
}


.filelist, .listhead {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}

.listhead th, .filelist td {
    overflow: none;
}

.filelist {
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    margin-bottom: -1px;
}


.listhead thead {
    background-color: #F0F0F0;
    text-align: left;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.50, rgb(245,245,245)),
        color-stop(0.35, rgb(240,240,240))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 35%,
        rgb(245,245,245) 50%
    );
}

.listhead th {
    padding: 5px 0px 5px 5px;
}

.filelist td {
    border: none;
    padding: 5px;
}

.filelist tr td.n {
    padding-left: 32px;
    background-image: url("/static/icons/file.png");
    background-position: 5px;
    background-repeat: no-repeat;
}

.filelist tr.dir td.n {
    background-image: url("/static/icons/folder.png");
}

.filelist tr {
    background-color: #FFFFFF;
}

.filelist tr.odd {
    background-color: #F4F4F4;
}

.sort_arrow {
    float: right;
    height: 15px;
    width: 15px;
    background-position: right;
    background-repeat: no-repeat;
}

.order {
    text-decoration: underline;
    background-image: url("/static/icons/arrow_up.gif");
}


.order_desc {
    text-decoration: underline;
    background-image: url("/static/icons/arrow_down.gif");
}

.header_drag {
    float: right;
    padding: 0px 3px 0px 3px;
    cursor: e-resize;
}


.header_line {
    float: right;
    width: 1px;
    height: 15px;
    background-color: #D0D0D0;
}

.pressed {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.50, rgb(240,240,240)),
        color-stop(0.35, rgb(235,235,235))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(235,235,235) 35%,
        rgb(240,240,240) 50%
    );
}

.paginators * {
    color: #999;
}

.paginators a:visited {
    color: #999;
}

.list_controls {
    font-size: 0.9em;
    color: #999999;
    height: 30px;
    padding: 5px 5px 0px 5px;
}

.list_controls_right {
    overflow: auto;
}

.list_controls_right .filter_container {
    float: right;
}

.list_controls input[type="text"] {
    width: 20px;
    border: 1px solid #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #FDFDFF;
} 

.list_controls input[type="text"]:disabled {
    background-color: #FCFCFC;
}

.list_controls input[type="button"] {
    height: 20px;
    font-size: 10px;
}

.list_popup {
    float: right;
    position: absolute;
    background-color: #FFF;
    box-shadow: 2px 3px 3px #919598;
    -webkit-box-shadow: 2px 3px 3px #919598;
    -moz-box-shadow: 2px 3px 3px #919598;
    padding: 3px;
}

.list_popup div.status_filter * {    
    float: left;
}

.list_popup label {
    color: #000;
    width: 5em;
    text-align: right;
}

.toggle_button {
    padding: 2px 5px;
    margin: 0px 5px;
    cursor: pointer;
}


