.field_wrapper {
    padding: 5px;
}

.field_wrapper label {
    float: left;
    width: 10em;
    padding-right: 5px;
}

.textfield_wrapper label {
    width: 10em;
    text-align: left;
}

.field_wrapper input[type="text"] {
    width: 20em;
}

.field_wrapper textarea {
    width: 20em;
}

fieldset label {
    float: left;
    width: 10em;
    padding-right: 5px;
}

fieldset input, select {
    width: 20em;
}

.form_submit_buttons {
    margin-top: 10px;
    border-top: 1px;
}

.form_body {
    min-height: 400px;
}

.form_footer {
    overflow: auto;
}

.form_footer input {
    float: right;
}

