.ocr_page_container {
}

/*.ocr_page_head {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px;
    background-color: #FBFBFB;    
    border-bottom: 1px solid #DDD;
    font-size: 1.2em;    
} */

.ocr_page {
    font-size: 1.1em;
    background-color: #FDFDFD;
    padding: 10px;
    overflow: auto;
}

.literal {
}

.waiting {
    background-image: url(/static/ajax-loader-large.gif);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50px;
}

.view_link {
    float: right;
    text-decoration: none;
    color: #999999;
    font-size: 0.9em;
    margin-left: 10px;
}

.view_link:hover {
    background-color: #FFDDDD;
}

.result_link {
    float: right;
    text-decoration: none;
    color: #999999;
    font-size: 0.9em;
    margin-left: 10px;
}

.result_link:hover {
    background-color: #FFDDDD;
}

.inner_container {
}

