

.batch_task {
    margin: 5px 5px 5px 5px;
    border: 1px solid #999;
    border-radius: 1px;
    -moz-border-radius: 1px;
    padding: 5px;
    background-color: #FCFCFC;
    height: 15px;
    vertical-align: middle;
}

.progressbar_container {
    float: right;
    padding-left: 20px;
}

.progressbar_container.waiting {
    background-image: url("/static/ajax-loader-small2.gif");
    background-position: center left;
    background-repeat: no-repeat;
}

.progressbar {
    float: right;
    width: 200px;
    border: 1px solid #999;
    height: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

.progressbar.started {
    background-image: url("/static/progbar.gif");
    background-position: center left;
    background-repeat: no-repeat;
}

.progressbar span {
    float: left;
    width: 0%;
    height: 10px;
    /*border-radius: 2px;
    -moz-border-radius: 2px;*/
    background-color: #088A08;
    opacity: 0.5;
}

.progressbar.pending, .progressbar.retry {
    background-color: #FFFFFF;
}

.progressbar.success span {
    background-color: #045FB4;
}

.progressbar.error span {
    background-color: #FA5858;
}

.page_name, .batch_name {
    font-weight: bold;
}

.batch_name {
    cursor: pointer;
}

.page_info {
    color: #B9B9B9;
    float: right;
    width: 100px;
}

.retry_task, .retry_batch, .retry_errors, .abort_task, .abort_batch {
    text-decoration: none;
    color: #999;
    float: right;
    margin: 0px 10px 0px 10px;
}

#batch_file_list {
    max-height: 100px;
    min-height: 40px;
    overflow: auto;
    background: #FFF;
    border: 1px solid #666;
    border-radius: 3px;
    -moz-border-radius: 3px;
    width: 400px;
}

.file_item {
    padding: 3px;
    color: #333;    
}

#batch_file_list .odd {
    background-color: #F2F2F2;
}

#batch_file_list .selected {
    background-color: #999; 
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.35, rgb(135,180,255)),
        color-stop(0.48, rgb(143,184,255))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(135,180,255) 35%,
        rgb(143,184,255) 48%
    );
}

.tl_container {
    overflow: auto;
    border: 1px solid #999;
    height: 490px;
    margin: 10px 0px 10px 20px;
}

.tl_scrollcontainer {
    float: right;
}

.tl_scrollup, .tl_scrolldown {
    width: 14px;
    height: 14px;    
    background-color: #FDFDFD;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid #999;
}

.tl_scrollup {
    background-image: url("/static/hz_scroll_up.gif");
}

.tl_scrolldown {
    background-image: url("/static/hz_scroll_down.gif");
}

.tl_scrollbar {
    width: 14px;
    height: 460px;    
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;

}

.tl_scrollhandle {
    width: 100%;
    height: 80px;
    float: right;
    background-color: #999; 
    background-position: center;
    background-repeat: no-repeat;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.35, rgb(135,180,255)),
        color-stop(0.48, rgb(143,184,255))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(135,180,255) 35%,
        rgb(143,184,255) 48%
    );
    /*background-image: url("/static/hz_scroll_handle.gif");*/
}

.task_list {
    margin-right: 15px;
}

.batch {
    padding-left: 15px;
    background-image: url("/static/vt_scroll_right.gif");
    background-position: left center;
    background-repeat: no-repeat;
}

.batch.expanded {
    background-image: url("/static/hz_scroll_down.gif");
}


#scroll_viewer {
    color: #FFF;
    position: absolute;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #000;
    opacity: 0.5;
    font-size: 3em;
    display: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

#recent_batches {
    border: 1px solid #D0D0D0;
    background-color: #FFF;
    padding-bottom: 10px;
}

.recent_batch {
    padding: 5px 10px;
    overflow: hidden; 
}

.recent_batch a {
    text-decoration: none;
    font-size: 1.1em;
    color: #045FB4;
}

.list_popup {
    float: right;
    position: absolute;
    background-color: #FFF;
    box-shadow: 2px 3px 3px #919598;
    -webkit-box-shadow: 2px 3px 3px #919598;
    -moz-box-shadow: 2px 3px 3px #919598;
    padding: 3px;
}

.list_popup div.status_filter * {    
    float: left;
}

.list_popup label {
    width: 5em;
    text-align: right;
}

.toggle_button {
}

.filter_container {
    float: right;
   font-size: 0.8em;
}
