

.batch_task {
    margin: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    background-color: #FCFCFC;
}
.progress_outer {
    float: right;
    width: 200px;
    border: 1px solid #999;
    height: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-image: url("/static/progbar.gif");
    background-position: center left;
    background-repeat: no-repeat;
}

.progress_outer_done {
    background-image: none;
}

.progress {
    float: left;
    width: 0%;
    height: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #088A08;
    opacity: 0.5;
}

.progress_done {
    background-color: #045FB4;
}

.progress_error {
    background-color: #FA5858;
}



.page_name {
    font-weight: bold;
}

.page_info {
    color: #B9B9B9;
    float: right;
    width: 100px;
}

.task_list {
    padding: 0px 0px 0px 20px;
}

.retry_task, .retry_batch {
    text-decoration: none;
    color: #999;
    float: right;
    margin: 0px 10px 0px 10px;
}

#batch_file_list {
    max-height: 100px;
    min-height: 40px;
    overflow: auto;
    background: #FFF;
    border: 1px solid #666;
    border-radius: 3px;
    -moz-border-radius: 3px;
    width: 400px;
}

.file_item {
    padding: 3px;
    color: #333;    
}

#batch_file_list .odd {
    background-color: #F2F2F2;
}

#batch_file_list .selected {
    background-color: #999; 
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.35, rgb(135,180,255)),
        color-stop(0.48, rgb(143,184,255))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(135,180,255) 35%,
        rgb(143,184,255) 48%
    );

}

