
.badspell {
    background-color: #FFDDDD;
}


.suggestion_window {
    max-height: 300px;
    overflow: auto;
    float: right;
    position: absolute;
    background-color: #FFF;
    width: 200px;
    margin: 0px;
    padding: 0px;
}

.suggestion_window ul {
    margin: 0px;
    padding: 0px;
}

.suggestion_window ul li {
    list-style: none;
    margin: 0px;
    padding: 5px 10px;
}

.suggestion {
    text-decoration: none;
    color: blue;
}

.suggestion.hover {
    background-color: #BBBBFF;
}

.spellword {
    margin-bottom: 20px;
}


#sp_container {
    overflow: auto;
    padding: 10px;    
}

#sp_buttoncontainer {
    float: right;
    height: 300px;
}

#sp_buttoncontainer {
    width: 120px;
}

#sp_buttoncontainer input[type=button] {
    width: 100%;
}

#sp_textcontainer {
    margin-right: 130px;
}

#sp_textcontainer input {
    width: 100%;
    margin-bottom: 10px;
}

#sp_suggestionlist {
}


