body {
    font-family: "Dejavu Sans", "Arial", "Helvetica", "sans-serif";
    font-size: 0.9em;
    background-color: #A1A5A8;
    margin: 0px;
}


#header_logo {
    float: right;
}

#login_info {
    margin-top: 5px;
    margin-right: 5px;
    color: #999;
    float: right;
    font-size: 0.8em;
}

#login_info a {
    color: #666;
    font-weight: bold;
    display: inline;
}

.sub_toolbar {
    font-size: 0.7em;
    overflow: auto;
    padding: 5px;
    background-color: #87B4FF;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.35, rgb(75,120,195)),
        color-stop(0.48, rgb(83,124,195))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(135,180,255) 35%,
        rgb(143,184,255) 48%
    );
}

#workspace {
    min-height: 100%;
}

.widget {
    border: #999999;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #FBFBFC;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.50, rgb(245,245,245)),
        color-stop(0.35, rgb(230,230,230))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(230,230,230) 35%,
        rgb(245,245,245) 50%
    );
    box-shadow: 2px 3px 3px #919598;
    -webkit-box-shadow: 2px 3px 3px #919598;
    -moz-box-shadow: 2px 3px 3px #919598;
    padding-bottom: 20px;
    float: right;
    width: 600px;
    margin: 10px 10px 0px 10px;
}

.widget_header {
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    -webkit-border-radius-topleft: 4px 4px;
    -moz-border-radius-topleft: 4px 4px;
    -moz-border-radius-topright: 4px 4px;
    font-size: 1.0em;
    font-weight: bold;
    color: #666;
    padding: 5px;
    background-color: #FBFBFC;
    border-bottom: 1px solid #DDD;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.50, rgb(245,245,245)),
        color-stop(0.35, rgb(240,240,240))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 35%,
        rgb(245,245,245) 50%
    );
    overflow: auto;

}

#sidebar {
    min-height: 500px;
}

#sidebar {
    width: 300px;
    float: right;
    /* need this because the document_window
     * somehow shifts the sidebar down... 
     */
}

#sideviewer {
    float: right;
    width: 40%;
    height: 300px;
}

#viewerwindow {
    float: right;
    width: 600px;
    height: 450px;
}

.widget_content {
    padding: 10px;
}

#document_window {
    padding: 10px 0px 10px 10px;
    min-width: 500px;
    margin-right: 320px;
}


legend.collapsed, legend.expanded {
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
}

legend.collapsed {
    background-image: url("/static/vt_scroll_right.gif");
}


legend.expanded {
    background-image: url("/static/hz_scroll_down.gif");
}


a.button {
    background: #E6E6E6 url(/static/gradient_grey.png) repeat-x 50% 50%;
    border: 1px solid #D2D2D2;
    border-radius: 2px 2px;
    font-size: 0.8em;
    margin: 0px 0px 0px 5px;
    padding: 1px 2px;
    cursor: pointer;   
    text-decoration: none;
    color: #999; 
}

a.button:hover {
    border: 1px solid #B2B2B2;
    
}

.viewer_highlight.lines {
    background-color: #FF2222;
    opacity: 0.2;
}

.viewer_highlight.paragraphs {
    border: 5px solid #2222FF;
    opacity: 0.5;
    border-radius: 3px;
}

.viewer_highlight.columns {
    background-color: #FFFF22;
    opacity: 0.2;
}

