.info_table {
	width: 100%;
    border-collapse: collapse;
}

.info_table tr, .info_table td {
    border: 1px solid #D0D0D0;
}

.info_table th, .info_table td {
	padding: 5px;
    border-collapse: collapse;
    margin: 0px;
}

.info_table th {
	font-weight: bolder;
	font-size: 1em;
    text-align: left;
    color: #FFF;
    background-color: #1B4765;
    border: none;
}

a.sort_table {
    color: #FFF;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 10px;
}


table.properties_table {
    border-spacing: 0px;
    font-size: 1em;
    border: 1px solid #D4D4D4;
    border-collapse: collapse;
    padding: 5px;
}

.properties_table td {
    padding: 4px 5px;
}

.properties_table tr.odd {
    background-color: #F3F3F3;
}

.properties_table .attr {
    font-weight: bold;
}

