<div id="scoretabs">
    <ul>
        <li><a href="#scoretab_1">Accuracy</a></li>
        <li><a href="#scoretab_2">Parameters</a></li>
        <li><a href="#scoretab_3">Text</a></li>
        <li><a href="#scoretab_4">JSON</a></li>
    </ul>
    <div id="scoretab_1">
        <h3>Overall Score: {{modelscore.score|floatformat:2|default_if_none:"-"}}%</h3>
        <pre>
{{modelscore.score_internals}}
        </pre>
    </div>
    <div id="scoretab_2">
        {{modelscore.task.args}}
    </div>
    <div id="scoretab_3">
{{text}}
    </div>
    <div id="scoretab_4" class="literal">
{{json}}
    </div>
</div>

