
{% include "includes/form_errors.html" %}
<div id="new_training" class="ui-tabs ui-tabs-panel ui-widget-content ui-corner-bottom">
    <div id="tabs">
        <ul>
            <li><a id="tabs_1_link" href="#tabs_1">Training Options</a></li>
        </ul>
        <div id="tabs_1">
            <div class="form_body">
                <div class="field_wrapper">
                    <label for="id_name">Ref Name:</label>
                    {{ form.name }}
                </div>

                <div class="field_wrapper">
                    <label for="id_cmodel">Inital Character Model:</label>
                    {{ form.cmodel }}
                </div>
                <br />
                <br />
                <div class="field_wrapper">
                    <label for="id_notes">Output Model Notes:</label>
                    {{ form.notes }}
                </div>
                <h4>Select Ground Truth</h4>
                <div class="toggle_box" id="ground_truth_list">
                    <div class="field_wrapper">
                        {% for tset in tsets %}
                            <div class="ground_truth_item">
                                {{tset.data.page}}
                                <input type="checkbox" class="ground_truth_enabled"
                                    name="tset" value="{{tset.pk}}" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form_footer">
                <div class="form_submit_buttons">
                    <input type="submit" value="Submit Model Training Job" disabled="disabled"
                        id="submit_new_training_form" />
                </div>
            </div>
        </div>
    </div>
</div>


