{% extends "standard.html" %}

{% block headerscript %}
    <script type="application/javascript" src="/static/js/ocrpresets/new.js"></script>
{% endblock %}

{% block content %}
    {% include "ocrmodels/includes/sidebar.html" %}
    <div id="document_window">
        <div class="widget">
            <div class="widget_header">OCR Preset</div>
                <div class="widget_content">
                    <div id="tabs">
                        <ul>
                            <li><a id="tabs_1_link" href="#tabs_1">New Preset</a></li>
                        </ul>
                        <div id="tabs_1">
                            {% include "ocrpresets/includes/new_preset_form.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
