{% extends "paned.html" %}
{% load tagging_tags %}


{% block title %} {{page_name}} {% endblock %}
{% block headercss %}
    <link rel="stylesheet" href="/static/css/generic.css" type="text/css" media="screen" />
{% endblock %}

{% block widgetheader %}
    {{page_name}}
{% endblock %}

{% block widgetcontent %}
    <div class="ui-layout-center">
        {% include "includes/messages.html" %}
        {% block bodycontent %}
        {% endblock %}
    </div>
{% endblock %}


{% block sidebarheader %}
    Item Tags
{% endblock %}

{% block sidebarcontent %}
<div id="tag_list" class="ui-layout-center">
    <ul class="taglist">
    {% for tagitem in tags %}
    <li class="tagitem"><a class="taglink {% if tag == tagitem.name %}current{% endif %}"
        href="{{model.get_list_url}}?{% if tag != tagitem.name %}tag={{ tagitem.name }}{% endif %}{% if order %}&order={{order}}{% endif %}{% if page %}&page={{page}}{% endif %}">
        {{tagitem.name}}{% if tagitem.count %} ({{tagitem.count}}){% endif %}</a></li>
    {% empty %}
        No tags found
    {% endfor %}
    </ul>
</div>
{% endblock %}
