{% extends "generic.html" %}


{% block bodycontent %}
    <div id="object_form">
        <form id="create_object_form" action="{{model.get_create_url}}" enctype="{{enctype}}" method="POST">
            {% csrf_token %}
            {% include "includes/generic_create_body.html" %}
            <div class="object_detail_footer form_footer ui-helper-clearfix">
                <input type="submit" value="Submit" id="submit_create_form" />
                <a href="{{model.get_list_url}}">Back to List</a>
            </div>        
        </form>
    </div>
{% endblock %}

