{% extends "standard.html" %}

{% block title %} {{page_name}} {% endblock %}
{% block headerscript %}
    <link rel="stylesheet" href="/static/css/generic.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<div class="ui-widget ui-corner-top">
    <div class="ui-widget-header ui-corner-top ui-layout-header">{{page_name}}</div>
    <div class="ui-widget-content">
        {% include "includes/messages.html" %}
        <div id="object_form">
            <form id="edit_object_form" action="{{object.get_update_url}}" enctype="{{enctype}}" method="POST">
                {% include "includes/generic_edit_body.html" %}
                <div class="object_detail_footer form_footer ui-helper-clearfix">
                    <input type="submit" value="Submit" id="submit_edit_form" />
                    <a href="{{object.get_absolute_url}}">Cancel</a>
                </div>        
            </form>
        </div>
    </div>
</div>
{% endblock %}

