{% load compressed %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>
        {% if request.session.project %}
            {{ request.session.project }} -
        {% endif %}
        {% block title %} OCRopodium - Test Server {% endblock %}
    </title>
    {% compressed_js "jquery" %}
    {% compressed_js "utils" %}
    {% compressed_js "global" %}


	{% block headerscript %}{% endblock %}

    <link rel="stylesheet" href="/static/css/custom-theme/jquery-ui-1.8.4.custom.css" type="text/css" media="screen" />
    {% compressed_css "standard" %}
<!--    <link rel="stylesheet" href="/static/css/mainmenu.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/clean.css" type="text/css" media="screen" /> -->
</head>
<body>
    <div id="vsplitter" class="ui-layout-center">
        <div id="maincontent" class="ui-widget ui-corner-top ui-widget-content ui-tabs ui-layout-center">
            {% block content %}{% endblock %}
        </div>
        <div id="sidebar" class="ui-widget ui-corner-top ui-widget-content ui-tabs ui-layout-east">
            {% block sidebar %}{% endblock %}
        </div>
        <div id="menucontainer" class="ui-layout-north">
            {% include "includes/appmenu.html" %}
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>
