<div class="sub_toolbar" id="viewing_toolbar">

    <span id="output">
        <input type="radio" class="tbbutton" id="output_s" name="output" />
        <label for="output_s">Source</label>
        <input type="radio" class="tbbutton" id="output_a" name="output" checked="checked" />
        <label for="output_a">Output A</label>
        <input type="radio" class="tbbutton" id="output_b" name="output" />
        <label for="output_b">Output B</label>
    </span>

    <span>&nbsp;&nbsp;&nbsp;</span>
    <button class="tbbutton" id="zoomin">Zoom In</button>
    <button class="tbbutton" id="zoomout">Zoom Out</button>
    <button class="tbbutton" id="centre">Centre</button>
    <button class="tbbutton" id="fullscreen">Full Screen</button>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <button class="tbbutton" id="refresh">Refresh</button>
</div>


