{% extends "standard.html" %}

{% block headerscript %}

    <link rel="stylesheet" href="/static/css/table.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/projects/export.js"></script>
{% endblock %}


{% block content %}

<div class="widget">
    <div class="widget_header">
        {{project.name}}
    </div>
    <div class="widget_content">
        <div id="tabs">
            <ul>
                <li><a href="#tab_1">Export Project</a></li>
            </ul>
            <div class="contain_float" id="tab_1">
                {% include "projects/includes/export_form.html" %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
