{% extends "standard.html" %}

{% block headerscript %}
<!-- <link type="text/css" rel="stylesheet" href="/static/css/forms.css" media="screen" /> -->

{% endblock %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function(e) {
            $("#login_dialog").dialog({modal: true, width: 400, title: "Please login..."});
    });
</script>
 
<div id="login_dialog">
    {% if error %}
    <div class="error">{{error}}</div>
    {% endif %}

    <div class="spil_form">
        <form id="login_form" method="POST" action="/accounts/login/">
            <label for="username">User name:</label><br />
            <input type="text" id="username" name="username" /><br /> 
            <label for="password">Password:</label><br /> 
            <input type="password" id="password" name="password" /><br />  
            <br />
            <input type="submit" id="submit_login" value="Submit" /><br /> 
        </form>
    </div>
</div>


{% endblock %}
 
