{% extends "standard.html" %}

{% block title %} OCRopodium - {{batch.name}} {% endblock %}

{% block headerscript %}
	<script type='application/javascript' src='/static/js/jquery/jquery.mousewheel.min.js'></script>
	<script type='application/javascript' src='/static/js/jquery/jquery.text-overflow.min.js'></script>
	<script type='application/javascript' src='/static/js/stats.js'></script>
	<script type='application/javascript' src='/static/js/batch/show.js'></script>
	<script type='application/javascript' src='/static/js/multi_filter_list.js'></script>
	<script type='application/javascript' src='/static/js/batch_widget.js'></script>
	<script type='application/javascript' src='/static/js/ocr_parameters.js'></script>
    <link rel="stylesheet" href="/static/css/upload_results.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/parameters.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/table.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/multi_filter_list.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/batch_widget.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<div class="widget" id="sidebar">
    <div class="widget_header">Recent Batches</div>
    <div class="widget_content">
        <div id="recent_batches">

        </div>
    </div>
</div>

{% if batch %}
    <form id="batch_form" action="{{request.path}}" >
        <input type="hidden" name="batch_id" value="{{batch.pk}}" id="batch_id" />
    </form>
{% endif %}

{% endblock %}
