{% extends "standard.html" %}

{% block title %} OCRopodium - Binarize {% endblock %}

{% block headerscript %}
    <link rel="stylesheet" href="/static/css/image_window.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/upload_results.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/preset_manager.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/parameters.css" type="text/css" media="screen" />
	<script type='application/javascript' src='/static/js/jquery.cookie.js'></script>
	<script type='application/javascript' src='/static/js/jquery.form.js'></script>
    <script type="application/javascript" src="/static/js/seadragon/seadragon-min.js"></script>
	<script type='application/javascript' src='/static/js/preset_manager.js'></script>
	<script type='application/javascript' src='/static/js/image_window.js'></script>
	<script type='application/javascript' src='/static/js/ocr_parameters.js'></script>
	<script type='application/javascript' src='/static/js/binarize.js'></script>
	<script type='application/javascript' src='/static/js/ocr_viewing_common.js'></script>
	<script type='application/javascript' src='/static/js/ajax-dragdrop-upload.js'></script>
{% endblock %}

{% block content %}

    {% include "ocr/includes/viewing_sidebar.html" %}
 
{% endblock %}

