<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>
        {% if request.session.project %}
            {{ request.session.project }} -
        {% endif %}
        {% block title %} OCRopodium - Test Server {% endblock %}
    </title>
	<script type='application/javascript' src='/static/js/jquery-1.4.2.js'></script>
    <script type='application/javascript' src='/static/js/jquery-ui-1.8.1.custom.min.js'></script>
	<script type='application/javascript' src='/static/js/jquery.cookie.js'></script>
    <link rel="stylesheet" href="/static/css/custom-theme/jquery-ui-1.8.2.custom.css" />
    <link rel="stylesheet" href="/static/css/mainmenu.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/standard.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/forms.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/messages.css" type="text/css" media="screen" />
    <link rel='index' title='Ocropodium' href='http://ocropodium.cerch.kcl.ac.uk' />

	{% block headerscript %}{% endblock %}
	
	<script type='application/javascript' src='/static/js/widget_layout.js'></script>
</head>
<body>
    <div id="app_container">
        <div id="menu">
            <span id="login_info">
                Logged in as {{request.user.username}}. <a href="/accounts/logout" alt="Logout">Logout</a>
            </span>
            <ul>
                <li>
                <h3 class="top"><a href="/projects/list/">Project</a></h3>                
                <ul>
                    <li>
                        <a id="new_project" href="/projects/new/">New Project</a>
                    </li>
                    <li>
                        <a id="open_project" href="/projects/open/">Open Project</a>
                    </li>
                    <li>
                        <h3 class="right">Recent</h3>
                        <ul>
                            {% if request.session.recent_projects %}
                                {% for recent in request.session.recent_projects %}
                                    <li>
                                        <a href="/projects/open/{{recent.pk}}/">{{recent.name}}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    {% if request.session.project %}
                        <li><a href="/projects/close/">Close</a></li>
                    {% else %}
                        <li class="disabled_option">Close</li>
                    {% endif %}
                </ul>
                </li>
            </ul>
            {% if request.session.project %}
            <ul>
                <li> 
                    <h3 class="top">Batch</h3>
                    <ul>
                        <li>
                            <a id="new_batch" href="/batch/new/">New</a>
                        </li>
                        <li>
                            <a id="latest_batch" href="/batch/latest/">Latest</a>
                        </li>
                    </ul>

                </li> 
            </ul>
            {% endif %}
            <ul>
                <li>
                    <h3><a {% ifequal request.path "/ocrmodels/" %}class="current"{% endifequal %}
                        href="/ocrmodels/">Models</a></h3>
                </li> 
            </ul>
            <ul>
                <li>
                    <h3><a {% ifequal request.path "/ocrtasks/" %}class="current"{% endifequal %}
                        href="/ocrtasks/">Tasks</a></h3>
                </li>
            </ul>
            <ul>
                <li>
                <h3 class="top">Tools</h3>
                    <ul>
                        <li>
                        <a {% ifequal request.path "/ocr/convert/" %}class="current"{% endifequal %}
                            href="/ocr/convert/">Convert</a>
                        <div class="menu_dropdown">This is a sub menu</div>
                        </li> 
                        <li>
                        <a {% ifequal request.path "/ocr/binarize/" %}class="current"{% endifequal %}
                            href="/ocr/binarize/">Binarize</a>
                        </li> 
                        <li>
                        <a {% ifequal request.path "/ocr/segment/" %}class="current"{% endifequal %}
                            href="/ocr/segment/">Segment</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <h3><a {% ifequal request.path "/admin/" %}class="current"{% endifequal %}
                        href="/admin/">Admin</a></h3>
                </li>              
            </ul>
        </div>
        <div style="clear:both"></div>
        {% block subtoolbar %}{% endblock %}
        <div id="workspace">
                    {% block content %}{% endblock %}
            
        </div>
        <div id="dialog_box"></div>
    </div>
</body>
</html>
