{% extends "standard.html" %}

{% block headerscript %}
    <script type='application/javascript' src='/static/js/training/compare.js'></script>
    <link rel="stylesheet" href="/static/css/training.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}

    <div id="document_window">
        <div class="widget">
            <div class="widget_header">Run Comparison</div>
            <div class="widget_content">
                <form id="compare_form" action="/training/score_models/" method="POST"> 
                    {% include "includes/form_errors.html" %}

                    <div id="tabs">
                        <ul>
                            <li><a id="tabs_1_link" href="#tabs_1">Comparison Models</a></li>
                            <li><a id="tabs_2_link" href="#tabs_2">Groundtruth</a></li>
                        </ul>
                        <div id="tabs_1">
                            <div class="form_body">
                                <fieldset>
                                    <legend>OCR Comparison</legend>
                                    <div class="field_wrapper">
                                        {{form.name.label_tag}}
                                        {{form.name}}
                                    </div>
                                    <div class="field_wrapper">
                                        {{form.notes.label_tag}}                                        
                                        {{form.notes}}
                                    </div>
                                </fieldset>
                                {% for prefix in prefixes %}
                                <fieldset>
                                    <legend>Settings {{prefix|cut:"_"|capfirst}}</legend>
                                    {% include "includes/ocr_settings.html" %}                
                                </fieldset>
                                {% endfor %}

                            </div>
                            <div class="form_footer">
                                <input type="button" class="next_tab" id="tabs_2_next" value="Next - OCR Options" />
                            </div>
                        </div>
                        <div id="tabs_2">
                            <div class="form_body">
                                <fieldset>
                                    <legend>Ground Truth</legend>
                                    <div class="toggle_box" id="ground_truth_list">
                                        <div class="field_wrapper">
                                            {% for tset in tsets %}
                                                <div class="ground_truth_item">
                                                    {{tset.data.page}}
                                                    <input type="checkbox" class="ground_truth_enabled"
                                                        name="tset" value="{{tset.pk}}" />
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form_footer">
                                <div class="form_submit_buttons">
                                    <input type="submit" value="Submit Model Comparison" 
                                        id="submit_new_comparison_form" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                    </div>            
                </form>            
            </div>
    </div>
{% endblock %}


