<form name="batchform" method="POST" action="/batch/create/" id="batchform">
    <div id="tabs">
        <ul>
            <li><a id="tabs_1_link" href="#tabs_1">Naming &amp; Tags</a></li>
            <li><a id="tabs_2_link" href="#tabs_2">Select Files</a></li>
            <li><a id="tabs_3_link" href="#tabs_3">OCR Options</a></li>
        </ul>
        <div id="tabs_1">
            <div class="form_body">
                <fieldset>
                    <legend class="collapsed">Information</legend>
                    <div class="field_wrapper">
                        <label for="batch_name">Identifier:</label>
                        {{form.name}}
                    </div>
                    <br />
                    <div class="field_wrapper">
                        <label for="batch_tags">Tags:</label>
                        {{form.tags}}
                    </div>
                    <br />
                    <div class="field_wrapper">
                        <label for="batch_desc">Notes:</label>
                        {{form.description}}
                    </div>
                </fieldset>
            </div>
            <div class="form_footer">
                <input type="button" class="next_tab" id="tabs_2_next" value="Next - Select Files" />
            </div>
        </div>
        <div id="tabs_2">
            <div class="form_body">
                <h3>Select Files</h3>
                <input type="hidden" id="id_files" name="files" />
                <div class="form_field">
                    <div id="batch_file_list">

                    </div>
                    <input type="button" value="Browse Server" id="browse" />
                </div>
            </div>
            <div class="form_footer">

                <input type="button" disabled="disabled" class="next_tab" id="tabs_3_next" value="Next - OCR Settings" />
            </div>
        </div>
        <div id="tabs_3">
            <div class="form_body">
                <fieldset>
                    <legend>OCR Information</legend>
                    <div class="field_wrapper">        
                        <label>OCR Engine:</label>
                        <div id="engine">
                            <input type="radio" id="engine_ocropus" name="engine" value="ocropus">Ocropus
                            <input type="radio" id="engine_tesseract" name="engine" value="tesseract" checked>Tesseract
                        </div>
                    </div>
                    <br />
                    <div class="field_wrapper">        
                        <label for="form_segmenter">Page Segmenter:</label>
                        <select id="form_segmenter" name="psegmenter">
                            <optgroup label="Basic">
                                <option value="SegmentPageByRAST" selected="selected">RAST</option>
                                <option value="SegmentPageByRAST1">RAST1</option>
                                <option value="SegmentPageBy1CP">1CP</option>
                                <option value="SegmentPageByMorphTrivial">MorphTrivial</option>
                                <option value="SegmentPageByXYCUTS">XYCUTS</option>
                            </optgroup>
                            {% if segpresets %}
                                <optgroup label="Presets">
                                {% for p in segpresets %}
                                    <option value="preset_{{p.pk}}">{{p.name}}</option>                        
                                {% endfor %}            
                                </optgroup>
                            {% endif %}            
                        </select>
                    </div>
                    <div class="field_wrapper">        
                        <label for="form_clean">Preprocessing:</label>
                        <select id="form_clean" name="clean">
                            <option value="StandardPreprocessing" selected="selected">Standard</option>
                            {% if binpresets %}
                                <optgroup label="Presets">
                                {% for p in binpresets %}
                                    <option value="preset_{{p.pk}}">{{p.name}}</option>                        
                                {% endfor %}            
                                </optgroup>
                            {% endif %}            
                        </select>
                    </div>
                    <div class="field_wrapper">        
                        <label for="form_cmodel">Character Model:</label>
                        <select id="form_cmodel" name="cmodel">
                        </select>
                    </div>
                    <div class="field_wrapper">        
                        <label for="form_lmodel">Language Model:</label>
                        <select id="form_lmodel" name="lmodel">
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="form_footer">
                <input type="submit" disabled="disabled" id="submit_batch" value="Submit Batch" />
            </div>
        </div>
    </div>
</form>

