/* Borrowed from 
 * http://www.seoconsultants.com/css/menus/horizontal/css/menuh.css
 */

.dropdownmenu {
    /* top margin is to prevent glitchy hovers to the child
     * elements when the browser is temporarily unaware of 
     * the position of the mouse (i.e. when closing select
     * menus. */
    color: #060606;
    float: left;
    vertical-align: middle;
    background-color: #F0F0F0;
    text-align: left;
    clear: both;
    z-index:400;
    background: #fafafa;
    background: -moz-linear-gradient(top, #fafafa 0%, #fafafa 25%, #f0f0f0 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(25%,#fafafa), color-stop(75%,#f0f0f0));
    background: -webkit-linear-gradient(top, #fafafa 0%,#fafafa 25%,#f0f0f0 75%);
    background: -o-linear-gradient(top, #fafafa 0%,#fafafa 25%,#f0f0f0 75%);
    background: -ms-linear-gradient(top, #fafafa 0%,#fafafa 25%,#f0f0f0 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f0f0f0',GradientType=0 );
    background: linear-gradient(top, #fafafa 0%,#fafafa 25%,#f0f0f0 75%);    
}


.dropdownmenu ul {
    cursor: pointer;
}

.dropdownmenu a {
    display: block;
    white-space: nowrap;
    margin: 0;
}

.dropdownmenu h3 {
    display: block;
    white-space: nowrap;
    margin: 2px;;
    padding: 5px 20px 5px 5px;
    font-weight: normal;
}

.dropdownmenu ul ul a, .disabled_option {
    padding: 5px 40px 5px 5px;
    font-size: 1.1em;
}

.dropdownmenu h3.top {
    background-image: url("/static/hz_scroll_down.gif");
    background-repeat: no-repeat;
    background-position: center right;
}

.dropdownmenu ul {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.dropdownmenu ul.ui-selected {
    color: #FFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-right: 1px solid #4B6E99;
    border-left: 1px solid #4B6E99;
}

.dropdownmenu h3.right {
    background-image: url("/static/vt_scroll_right.gif");
    background-repeat: no-repeat;
    background-position: center right;
}

.dropdownmenu a {
    text-decoration: none;
}

.dropdownmenu ul a, .dropdownmenu a:visited {
    color: #060606;
}

.dropdownmenu a:active {
}

.dropdownmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.dropdownmenu li {
    position: relative;
}

.dropdownmenu ul ul {
    position: absolute;
    z-index: 500;
    top: auto;
    display: none;
    background-color: #FEFEFE;
    box-shadow: 2px 3px 3px #919598;
    -webkit-box-shadow: 2px 3px 3px #919598;
    -moz-box-shadow: 2px 3px 3px #919598;
}

.dropdownmenu ul ul ul {
    top: 0;
    left: 100%;
}

.dropdownmenu ul ul li {
    border: 1px solid transparent;
}

.dropdownmenu ul ul li.ui-selected {
    border: 1px solid #4B6E99;
}

.dropdownmenu ul ul li.ui-selected a {
    color: #FFF;
}

.disabled_option {
    color: #BBB;
    background: inherit;
    cursor: auto;
}

