
.document-selector {
    height: 1em;
    background-color: #CCC;
}

.document-item {
    float: left;
    box-shadow: 2px 3px 5px #919598;
    -webkit-box-shadow: 2px 3px 5px #919598;
    -moz-box-shadow: 2px 3px 5px #919598;    
    margin: 20px;
    padding: 2px;
    border: 1px solid #D4D4D4;
    background: -webkit-gradient(
        linear,
        right bottom,
        left top,
        color-stop(0.50, rgb(245,245,245)),
        color-stop(0.35, rgb(240,240,240))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 35%,
        rgb(245,245,245) 50%
    );
}

.document-details {
    vertical-align: top;
}

.document-thumb {
    width: 128px;
    height: 128px;
    padding: 3px;
}

.document-thumb img {
    width: 100%;
    height: 100%;
}

.document-details {
    width: 100px;
    padding: 5px;
}

.document-list {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.document-list.dragover {
    background-color: #DDDDFF;
}

.document-list .ui-selecting { 
    background: #FECA40;
}
.document-list .ui-selected {
    background: #F39814; color: white; 
}
