.list_popup {
    float: right;
    position: absolute;
    background-color: #FFF;
    box-shadow: 2px 3px 3px #919598;
    -webkit-box-shadow: 2px 3px 3px #919598;
    -moz-box-shadow: 2px 3px 3px #919598;
    padding: 3px;
    z-index: 1000;
    background-color: #FFF;
}

.list_popup div.state_filter * {    
    float: left;
}

.list_popup label {
    width: 5em;
    text-align: right;
}

.toggle_button {
    padding: 2px 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.filter_container {
    float: right;
   font-size: 0.8em;
}

.filter_list {
}



