.topnav {
    background-color: #FBFBFB;
    border-top: 1px solid #1b4765;
    border-bottom: 1px solid #1b4765;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}

.topnav * {
    display: inline;
}

.topnav_item *, .topnav_item_le * {
    padding: 5px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    color: #1b4765;
    text-decoration: none;
}

.topnav_item a:hover, .topnav_item_le a:hover {
    background-color: #F0F0F0;
}

a.current, a.current:hover {
    background-color: #6A94B2;
    color: #F0F0F0;
}
 
 

