.ocr_page_container {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 3px 3px #919598;
    -webkit-box-shadow: 2px 3px 3px #919598;
    -moz-box-shadow: 2px 3px 3px #919598;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    overflow: auto;    
    background-color: #FDFDFD;
}

.ocr_page {
    font-size: 1.1em;
    padding: 10px;
    overflow: auto;
    min-height: 50px;
}

.ocr_page_header {
    padding: 5px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #DBDBFB;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.50, rgb(245,245,245)),
        color-stop(0.35, rgb(240,240,240))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 35%,
        rgb(245,245,245) 50%
    );
}

.literal {
}

.waiting {
    background-image: url(/static/ajax-loader-large.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.view_link {
    float: right;
    text-decoration: none;
    color: #999999;
    font-size: 0.9em;
    margin-left: 10px;
}

.view_link:hover {
    background-color: #FFDDDD;
}

.close_link {
    float: right;
    display: none;
    margin: left; 10px;
}

.result_link {
    float: right;
    text-decoration: none;
    color: #999999;
    font-size: 0.9em;
    margin-left: 10px;
    display: none;
}

.result_link:hover {
    background-color: #FFDDDD;
}

.inner_container {
}

