
/*#options fieldset,#options legend,#options h1,#options div,#options span,#options label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/

#options legend {
    border: 1px solid #999;
    border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    padding: 2px;
    margin-left: 5px;
}

#options legend label !important {
    width: auto;
    padding-right: 5px;
    font-size: 1.1em;
}

fieldset label {
    padding-top: 5px;
}

#options select {
    display: block;
}

#options fieldset {
    border: 1px solid #999;
    margin-top: 10px;
    padding: 10px;
    background: -webkit-gradient( linear, right bottom, left top, color-stop(0.75, white), color-stop(0.25, #FAFAFA) );
    background: -moz-linear-gradient( center bottom, #FAFAFA 25%, white 75% );

}
