
div.node {
    width: 40%;
    height: 30px;
    overflow: hidden;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
    box-shadow: 1px 2px 2px #919598;
    -webkit-box-shadow: 1px 2px 2px #919598;
    -moz-box-shadow: 1px 2px 2px #919598;

    background: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #ebebeb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ebebeb));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#ebebeb 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#ebebeb 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#ebebeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ebebeb',GradientType=0 );
    background: linear-gradient(top, #f8f8f8 0%,#ebebeb 100%);
}

