.preset_dialog .loading {
    background-image: url("/static/ajax-loader-large.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

.preset_dialog .buttons {
    float: right;
    padding: 5px 0px;
}

.preset_manager_dialog .ui-dialog-titlebar {
    display: none;
}

.preset_manager_dialog {
    box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.26);
}

#open_preset_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 300px;
    overflow: auto;    
}


#open_preset_list .ui-selecting {
    background: #639bc1;
    background: -moz-linear-gradient(top, #639bc1 0%, #468bbc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#639bc1), color-stop(100%,#468bbc));
    background: -webkit-linear-gradient(top, #639bc1 0%,#468bbc 100%);
    background: -o-linear-gradient(top, #639bc1 0%,#468bbc 100%);
    background: -ms-linear-gradient(top, #639bc1 0%,#468bbc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#639bc1', endColorstr='#468bbc',GradientType=0 );
    background: linear-gradient(top, #639bc1 0%,#468bbc 100%);
}

#open_preset_list li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
    cursor: pointer;
    border-top: 1px solid #DDD;
    overflow: hidden;
    text-overflow: ellipsis;
}    
