{% extends "standard.html" %}

{% block title %} OCRopodium - Convert {% endblock %}

{% block headerscript %}

    {% load compressed %}
    {% compressed_js 'nodetree' %}
    {% compressed_js 'viewers' %}

	<script type='application/javascript' src='/static/js/presets/builder.js'></script>
	<script type='application/javascript' src='/static/js/uploaders/ajax.js'></script>

    {% compressed_css 'nodetree' %}
    {% compressed_css 'viewers' %}

{% endblock %}

{% block content %}
    {% include "includes/node.html" %}
    {% include "includes/preset_manager.html" %}
    <div id="tabs_container">
        <div  id="viewertabs" class="ui-layout-center">
            <ul>
                <li><a href="#imageviewer_1_container">Image Viewer</a></li>
                <li><a href="#hocrviewer_1_container">OCR Viewer</a></li>
                <li><a href="#textviewer_1_container">Text Viewer</a></li>
            </ul>
            <div class="ui-layout-content">            
                <div id="imageviewer_1_container">
                    <div id="imageviewer_1_toolbar" class="viewer_toolbar ui-medium-flat">
                        <button class="tbbutton" id="image_zoomout">Zoom Out</button>
                        <button class="tbbutton" id="image_zoomin">Zoom In</button>
                        <button class="tbbutton" id="centre">Centre</button>
                        <button class="tbbutton" id="fullscreen">Full Screen</button>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <button class="tbbutton" id="refresh">Refresh</button>
                    </div>
                    <div id="imageviewer_1" class="imageviewer"></div>
                </div>
                <div id="hocrviewer_1_container">
                    <div id="hocrviewer_1_toolbar" class="viewer_toolbar ui-medium-flat">
                        <button class="tbbutton" id="hocr_zoomout">Zoom Out</button>
                        <button class="tbbutton" id="hocr_zoomin">Zoom In</button>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span id="format">
                            <input type="radio" class="tbbutton" id="format_block" name="format" checked="checked" />
                            <label for="format_block">Block</label>
                            <input type="radio" class="tbbutton" id="format_line" name="format" />
                            <label for="format_line">Line</label>
                            <input type="radio" class="tbbutton" id="format_column" name="format" />
                            <label for="format_column">Column</label>
                        </span>
                    </div>
                    <div id="hocrviewer_1" class="textviewer"></div>
                </div>
                <div id="textviewer_1_container">
                    <div id="textviewer_1_toolbar" class="viewer_toolbar ui-medium-flat">
                        <button class="tbbutton" id="text_zoomout">Zoom Out</button>
                        <button class="tbbutton" id="text_zoomin">Zoom In</button>
                    </div>
                    <div id="textviewer_1" class="textviewer"></div>
                </div>
            </div>
        </div>            
    </div>
{% endblock %}
{% block sidebar %}
    <form id="optionsform">
        <input type="hidden" id="edit_task_pk" name="task_pk" value="{{task.pk}}" />
        <input type="hidden" id="edit_task_batch" name="task_batch" value="{{task.batch.name}}" />
        <input type="hidden" id="edit_task_page" name="task_page" value="{{task.page_name}}" />

        <div id="node_canvas" class="ui-helper-reset ui-widget ui-layout-center"></div>
        <!-- NB. This is lower down in the DOM than the parameters, despite
         being positioned above.  It is so the menu overlaps the params
         where necessary -->
        <div class="ui-layout-north" id="script_toolbar_container">
            <div id="preset_toolbar_header" class="ui-widget-header ui-corner-all ui-layout-header">Preset Editor -
                <span id="current_preset_name">Untitled 1</span><span id="preset_unsaved">*</span>
            </div>
            <div id="script_menu" class="appmenu">
                <ul class="top">
                    <li>
                        <h3>File</h3>
                        <ul style="display:none">
                            <li><a href="#" id="new_script">New...</a></li>
                            <li><a href="#" id="open_script">Open Script</a></li>
                            <li><a href="#" id="save_script">Save</a></li>
                            <li><a href="#" id="save_script_as">Save as...</a></li>
                            <li><a href="#" id="download_script">Export</a></li>
                            <li><a href="#" id="close_script">Close</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="top">
                    <li>
                        <h3>Preset</h3>
                        <ul style="display: none">
                            <li><a href="#">Refresh</a></li>
                            <li class="separator"><hr /></li>
                            <li><a href="#" id="layout_tree">Layout Tree</a></li>
                            <li><a href="#" id="focus_tree">Focus Tree</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="top">
                    <li>
                        <h3>Help</h3>
                        <ul style="display: none">
                            <li><a href="/presets/help">Documentation</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
            <div id="script_toolbar" class="viewer_toolbar ui-medium-flat">
                <span class="buttons_left">
                    <button id="stop_refresh">Rerun</button>
                    <button id="focus_script">Home</button>
                    <button id="layout_nodes">Cleanup Node Layout</button>
                    <button id="clear_cache">Clear Cache</button>
                </span>
                {% if task %}
                <span class="buttons_right">
                    <button id="save_task_preset">Save &amp; Rerun Task</button>
                    <button id="cancel_task_preset">Cancel</button>
                </span>
                {% endif %}
                <div id="dialog"></div>
            </div>                
        </div>
        <div class="ui-layout-south ui-widget">
            <div id="parameters" class="node_parameters ui-medium-flat">
                <h1>No Node Selected</h1>
            </div>
        </div>
    </form>
    {% if task %}
    <!-- form for POSTing updated task scripts -->
    <form id="task_update_form" action="/ocr/update_task/{{task.pk}}/" method="POST">
        <input type="hidden" id="task_update_script" name="script" value="" />
    </form>
    {% endif %}
    <!-- form for downloading scripts... this is a bit of a hack. -->
    <form id="fetch_script" method="POST" action="/presets/fetch/" >
        <input name="name" type="hidden" id="fetch_script_slug" />
        <input name="script" type="hidden" id="fetch_script_data" />
    </form>
{% endblock %}
