{# List of OCR Model Comparisons #}

{% if comparisons %}
    <table id="_list" class="comparison_list info_table" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="listhead">
            {% for field in fields %}
                <th >
                    <a class="sort_table" href="/training/comparisons?order={{field}}">
                        {{field|title|cut:"-"|cut:"_"|cut:"Pk"}}
                        {% if order in field or field in order %}
                            {% if "-" in field %}
                                <div class="sort_arrow order"></div>
                            {% endif %}
                            {% if "-" in order %}
                                <div class="sort_arrow order_desc"></div>
                                {% endif %}
                        {% else %}
                            <div class="sort_arrow"></div>
                        {% endif %}
                    </a>
                </th>
            {% endfor %}
            <th></th>
            </tr>
        </thead>
        {% for p in comparisons %}
        <tr class="comparison_item {% cycle 'even' 'odd' %}" id="mod_{{p.pk}}">
            <td>{{p.name}}</td>
            <td>{{p.created_on}}</td>        
            <td>{{p.groundtruths}}</td>        
            <td>
                <a title="Comparison Details"  class="show_comparison_link" href="/training/comparison/{{p.pk}}/">Show</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    No comparisons found.
{% endif %}






            
