{% include "includes/form_errors.html" %}

<form id="new_model_form" enctype="multipart/form-data" action="/ocrmodels/update/{{model.pk}}/" method="POST">
    <div class="form_body">
        <fieldset>
            <legend>Model Information</legend>
            <div class="field_wrapper">
                <label for="id_name">Name:</label>
                {{ form.name }}
            </div>
            <div class="field_wrapper">
                <label for="id_type">Type:</label>
                {{ form.type }}
            </div>
            <div class="field_wrapper">
                <label for="id_app">App:</label>
                {{ form.app }}
            </div>
            <div class="field_wrapper">
                <label for="id_public">Public:</label>
                {{ form.public }}
            </div>
            <div class="field_wrapper">
                <label for="id_tags">Tags:</label>
                {{ form.tags }}
            </div>
            <div class="field_wrapper textfield_wrapper">
                <label for="id_description">Description:</label><br />
                {{ form.description }}
            </div>
        </fieldset>
    </div>        

    <div class="form_footer">
        <div class="form_submit_buttons">
            <input type="submit" value="Submit" id="submit_edit_model_form" />
        </div>
    </div>        
</form>

